.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 10px 20px 26px 20px;

  &_image {
    width: 220px;
    height: 247px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 41px;
  }

  &_description {
    font-weight: 600;
    letter-spacing: 0.4px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    margin-top: 43px;
    gap: 24px;

    p {
      margin: 0;
    }
  }

  &_price {
    text-align: right;
    color: #ffa542;
  }

  &_title {
    color: #1c1c27;
  }

  &_rate {
    color: #838383;
  }
  
  &_buy {
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 17px;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      color: #ffa542;
      transition: 0.3s ease 0s;
    }
  }

  &_rate::before {
    content: url('../../assets/star.svg');
    height: 22px;
    width: 23px;
    padding-right: 6px;
    vertical-align: middle;
  }
}
