header {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;

    .header-right {
      display: flex;
      align-items: center;
      gap: 25px;
    }

    button {
      border: 0;
      padding: 0;
      cursor: pointer;

      &:hover {
        filter: invert(78%) sepia(7%) saturate(2606%) hue-rotate(164deg)
          brightness(100%) contrast(93%);
      }
    }

    .btn-favs {
      height: 20px;
      width: 23px;
      background: url('../../assets/favotites.svg') no-repeat;
    }

    .btn-card {
      height: 25px;
      width: 25px;
      background: url('../../assets/busket.svg') no-repeat;
    }
  }
}
