.cart {
  margin-top: 35px;

  .cart-item {
    padding: 19px;
    background-color: #fff;
    border-radius: 30px;
    width: 633px;

    &_info {
      display: flex;
      flex-direction: column;
      gap: 12px;
      justify-content: center;
      margin-left: 24px;
      font-weight: 00;
      letter-spacing: 1px;
      margin-top: 35px;

      p {
        margin: 0;
      }
    }
  }

  .card-item_block {
    display: flex;
    font-weight: 700;

    &.bottom {
      justify-content: space-between;
      align-items: baseline;
    }
  }

  .cart-item_image {
    img {
      width: 156px;
      height: 147px;
      object-fit: cover;
    }
  }

  .cart-header {
    font-size: 20px;
    font-weight: 600;
  }

  .counter {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120px;
    margin-top: 13px;
    margin: 8px 0 0 14px;
    gap: 19px;
  }
  .increment-btn,
  .decrement-btn {
    height: 31px;
    width: 30px;
    border-radius: 50%;
    font-size: 27px;
    background-color: #ffce7f;
    border: 1px solid #ffce7f;
    color: white;
  }

  .counter-value {
    font-size: 17px;
    font-weight: 600;
    margin: 0 10px;
  }
}
